:root {
  --background-color: #dbd8e3;
  --background-color-two: #5c5470;
  --alternate-color: #ff9551;
  --alternate-color-two: #ff4a4a;
  --third-color: #352f44;
  --fourth-color: #2a2438;

  --default-font-family: "Archivo Narrow", sans-serif;
}

.primaryFont {
  font-family: "Six Caps", sans-serif;
}

.secondaryFont {
  font-family: "Archivo Narrow", sans-serif;
}

.homePageGrid {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  padding: 20px 20px;
}

.navbar {
  font-family: "Archivo Narrow", sans-serif;
  opacity: 0.9;
}

.nav-link {
  color: var(--third-color) !important;
}

.nav-link:hover,
.nav-link.active {
  color: var(--fourth-color) !important;
}

.aboutImage {
  margin: 50px 50px 50px 25px;
}

.break {
  text-align: center;
}

.social-links {
  margin: 0 20px;
  color: var(--alternate-color);
  background: var(--background-color-two);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
}

.social-links:hover {
  color: var(--background-color-two);
  background: white;
  transition: all 100ms ease-in-out;
}

.email-info {
  text-align: center;
  font-size: 30px;
  font-family: "Archivo Narrow", sans-serif;
  color: var(--background-color);
  margin: 20px 20px;
}

.email-text {
  color: var(--background-color);
}

.contact-content {
  text-align: center;
}

.aboutInfo {
  text-align: center;
  padding: 25px;
}

.aboutContainer {
  background-image: url(../images/chairL.png);
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.workContainer {
  background-image: url(../images/orcaMobile.png);
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contactContainer {
  background-image: url(../images/butterflyChairLarge.png);
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heroLinks {
  color: var(--background-color);
  text-decoration: none;
}

.heroLinks:hover {
  color: var(--background-color-two);
  text-decoration: none;
}

body {
  background-color: var(--background-color);
}

h1 {
  text-align: center;
  size: 70px;
  margin-top: 130px;
}

h4 {
  text-align: center;
  size: 50px;
  margin: 100px 130px;
}

h1,
h3 {
  font-size: 40px;
  color: var(--alternate-color-two);
  font-family: "Six Caps", sans-serif;
}

h2 {
  color: var(--background-color);
}

h4 {
  text-align: center;
  opacity: 0.5;
}

p {
  font-size: 18px;
  font-family: "Archivo Narrow", sans-serif;
  opacity: 0.5;
}

footer {
  margin: 60px 80px;
}

footer .contact-box {
  background: var(--background-color-two);
  padding: 30px 120px;
  border-radius: 10px;
}

@media (max-width: 900px) {
  h3 {
    font-size: 30px;
  }

  .email-info {
    font-size: 20px;
  }

  .aboutImage {
    display: block;
    margin: 0 auto;
    max-width: 350px;
  }

  .evy {
    font-size: 12px;
  }
}
