:root {
  --branding-color: #b9fff8;
  --background-color-two: #6fedd6;
  --alternate-color: #ff9551;
  --alternate-color-two: #ff4a4a;
  --default-font-family: "Lato", sans-serif;
}

.primaryFont {
  font-family: "Abril Fatface", cursive;
}

.secondaryFont {
  font-family: "Lato", sans-serif;
}

.etching {
  display: flex;
  justify-content: center;
  border-radius: 180px;
  padding: 20px 20px;
}

.navbar {
  font: var(--default-font-family);
  opacity: 0.9;
}

.nav-link {
  color: var(--alternate-color) !important;
}

.nav-link:hover,
.nav-link.active {
  color: var(--alternate-color-two) !important;
}

.aboutImage {
  border-radius: 20px;
  margin: 50px 50px;
}

.break {
  text-align: center;
}

body {
  background-color: var(--branding-color);
}

h1 {
  color: var(--alternate-color-two);
  font-family: "Abril Fatface", cursive;
  text-align: center;
  size: 70px;
  margin-top: 130px;
}

h2 {
  color: var(--alternate-color);
  text-align: center;
}

h4 {
  text-align: center;
  opacity: 0.5;
}

p {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  opacity: 0.5;
}
